<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

<f:flashMessages />
<f:if condition="{nopid}">
	<f:then>
		{nopid_msg}
	</f:then>
	<f:else>
		<style>
			.nosearch {	
				color: #c0c0c0;
			}
		</style>
		<script type="text/javascript">
			window.onload = function () {
				var selects = document.getElementsByTagName("select");
				for(var i = 0; i < selects.length; i++) {
					selects[i].onchange = function(){
						this.form.submit();
					}
				}
			}
		</script>
		<f:form action="list" name="list" enctype="post" >
			<f:translate key="tx_dynamicgooglesitemap_domain_model_sitemap.domain" htmlEscape="false" />
			<f:form.select name="domain" options="{domains}" value="{domain}"/><br/><br/>
		</f:form>
		<table class="typo3-dblist">
			<tr class="t3-row-header">
				<td>Titel</td>
				<td>UID</th>
				<td>Lang</td>
				<td>
					<f:link.action action="deleteAll" title="Delete all">
						<img src="./sysext/t3skin/icons/gfx/garbage.gif" width="16" height="16" title="Delete all" alt="">
					</f:link.action>
				</td>
				<td>URL Parameters</td>
				<td>URL</td>
				<td>Priority</td>
				<td>Last Changed</td>
			</tr>
			<f:render partial="Sitemap/page" arguments="{item: item}" />
		</table>
	</f:else>
</f:if>
</f:section>